html {
  font-size: 100px;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #555555;
  background: #ebf0f5;
}
a,
a:active,
a:visited,
a:hover,
a:target {
  display: block;
  color: #555555;
}
.main {
  margin: 0 auto;
}
/*--HEADER--*/
.header {
  /*--CON--*/
  /*--NAV--*/
}
.header .con {
  height: .88rem;
  line-height: .88rem;
  font-size: .32rem;
  color: #ffffff;
  background: #1c90f2;
}
.header .con .logo,
.header .con .type {
  float: left;
}
.header .con .login,
.header .con .menu {
  float: right;
}
.header .con .logo {
  padding-left: .7rem;
  width: 1.44rem;
  border-right: .02rem solid #066ec4;
  font-size: .32rem;
  font-weight: normal;
  background: url("../img/icon-logo.png") no-repeat 0.1rem center;
  background-size: .48rem .48rem;
}
.header .con .type {
  padding: 0 .2rem;
  border-left: .02rem solid #61b2f6;
}
.header .con .login {
  padding: 0 .3rem;
}
.header .con .menu {
  width: .88rem;
  height: .88rem;
  background: url("../img/btn-nav-fold.png") no-repeat center center;
  background-size: 50%;
}
.header .nav {
  padding: 0 0;
  /*.1rem 0 */
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s linear 0s;
  -moz-transition: height 0.3s linear 0s;
  -o-transition: height 0.3s linear 0s;
  -ms-transition: height 0.3s linear 0s;
  transition: height 0.3s linear 0s;
}
.header .nav a {
  float: left;
  width: 16%;
  height: .74rem;
  line-height: .74rem;
  text-align: center;
  font-size: .32rem;
}
.header .nav a:nth-child(6n+1) {
  margin-left: 2%;
}
/*--VIDEO--*/
.videoArea {
  height: 3.6rem;
  background: #000000;
}
.videoArea video {
  width: 100%;
  height: 100%;
}
/*--MATCH INFO--*/
.matchInfo {
  box-sizing: border-box;
  padding: .3rem;
  overflow: hidden;
}
.matchInfo .top {
  height: .6rem;
  line-height: .6rem;
}
.matchInfo .top .home,
.matchInfo .top .away {
  width: 34%;
  float: left;
}
.matchInfo .top .home img,
.matchInfo .top .away img {
  display: inline-block;
  width: .64rem;
  height: .6rem;
  vertical-align: top;
}
.matchInfo .top .home span,
.matchInfo .top .away span {
  display: inline-block;
  font-size: .4rem;
  vertical-align: top;
}
.matchInfo .top .home span {
  margin-left: .24rem;
}
.matchInfo .top .time {
  float: left;
  width: 32%;
  font-size: .24rem;
  color: #999999;
  text-align: center;
}
.matchInfo .top .away {
  text-align: right;
}
.matchInfo .top .away span {
  margin-right: .24rem;
}
.matchInfo .middle {
  position: relative;
  margin: .2rem auto;
  height: .04rem;
  background: #1c90f2;
}
.matchInfo .middle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: #f82d2d;
  height: .04rem;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.matchInfo .bottom {
  height: .4rem;
  line-height: .4rem;
  text-align: center;
}
.matchInfo .bottom span {
  float: left;
  width: 34%;
  font-size: .24rem;
  color: #999999;
}
.matchInfo .bottom .type {
  width: 32%;
}
.matchInfo .bottom .home {
  background: url("../img/support-left.png") no-repeat left center;
  background-size: .24rem;
}
.matchInfo .bottom .home.bg {
  color: #f82d2d;
  background: url("../img/support-red.png") no-repeat left center;
  background-size: .24rem;
}
.matchInfo .bottom .away {
  background: url("../img/support-right.png") no-repeat right center;
  background-size: .24rem;
}
.matchInfo .bottom .away.bg {
  color: #1c90f2;
  background: url("../img/support-blue.png") no-repeat right center;
  background-size: .24rem;
}
/*--MATCH LIST--*/
.matchList {
  box-sizing: border-box;
  width: 100%;
  height: 2.4rem;
  padding: .2rem .3rem;
  background: #ffffff;
  overflow: hidden;
}
.matchList li {
  float: left;
  margin-right: .2rem;
  width: 2.2rem;
  height: 2.2rem;
  overflow: hidden;
}
.matchList li div {
  position: relative;
  width: 100%;
  height: 1.24rem;
}
.matchList li div img {
  width: 100%;
  height: 1.24rem;
}
.matchList li div span {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: .08rem;
  height: .31rem;
  line-height: .31rem;
  font-size: .24rem;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.2);
}
.matchList li p {
  line-height: .3rem;
  font-size: .24rem;
}
.matchList li.bg p {
  color: #f82d2d;
}
.title {
  margin-top: .2rem;
  padding: .4rem 0 .24rem .2rem;
  color: #333;
  font-size: .32rem;
  font-weight: normal;
  background: #ffffff;
}
.title span {
  float: right;
  margin-right: .2rem;
  color: #999;
}
/*--REPLY LIST--*/
.replyList {
  box-sizing: border-box;
  width: 100%;
  height: 2.44rem;
  padding-bottom: .2rem;
  background: #ffffff;
  overflow: hidden;
}
.replyList li {
  float: left;
  margin: .2rem 0 .2rem .2rem;
  width: 2.2rem;
  height: 100%;
  overflow: hidden;
}
.replyList li div {
  position: relative;
  width: 100%;
  height: 100%;
}
.replyList li div img {
  width: 100%;
  height: 100%;
}
.replyList li div span {
  position: absolute;
  color: #ffffff;
  font-size: .24rem;
}
.replyList li div span:nth-of-type(1) {
  top: 0;
  left: 0;
  width: .6rem;
  height: .6rem;
  background: url("../img/type.png") no-repeat;
  background-size: 100%;
}
.replyList li div span:nth-of-type(2) {
  top: 0.08rem;
  left: -0.02rem;
  transform: rotate(-45deg);
}
.replyList li div span:nth-of-type(3) {
  right: 0;
  bottom: .05rem;
  padding: .08rem;
  height: .31rem;
  line-height: .31rem;
  color: #ebf0f5;
  background: rgba(0, 0, 0, 0.2);
}
.replyList li p {
  line-height: .3rem;
  font-size: .24rem;
}
/*--NEWS--*/
.newsList {
  box-sizing: border-box;
  padding-bottom: .2rem;
  width: 100%;
  height: 3.5rem;
  background: #ffffff;
}
.newsList li {
  padding: .2rem;
}
.newsList li a {
  display: block;
  position: relative;
}
.newsList li a img {
  float: left;
  margin-right: .2rem;
  width: 1.74rem;
  height: 1.24rem;
}
.newsList li a .newsTitle {
  font-size: .3rem;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.newsList li a .content {
  margin-top: .1rem;
  font-size: .24rem;
  color: #999;
}
.newsList li a span:nth-of-type(1) {
  position: absolute;
  top: .84rem;
  left: 1.34rem;
  width: .3rem;
  height: .3rem;
  background: url("../img/play.png") no-repeat;
  background-size: .3rem .3rem;
}
.newsList li a span:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: .24rem;
  color: #999;
}
.newsList li a span:nth-of-type(2) i {
  display: inline-block;
  width: .24rem;
  height: .2rem;
  margin-top: .1rem;
  margin-right: .1rem;
  margin-left: .09rem;
  background: url("../img/weixin.png") no-repeat;
  background-size: .24rem .2rem;
}
